<header>
  <nav>
    <ul>
      <li>
        <a [routerLink]="['/']">Home</a>
      </li>
      <li>
        <a [routerLink]="['/login']">Login</a>
      </li>
      <li>
        <a [routerLink]="['/signup']">Sign Up</a>
      </li>
      <li>
        <a [routerLink]="['/user']">My account</a>
      </li>
    </ul>
  </nav>
  <div>
    <button
      type="button"
      class="m-1 px-4 py-2 bg-blue-600 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
      (click)="onLogout()"
    >
      Logout
    </button>
  </div>
</header>
